* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background {
  height: 100%;
  width: 100%;
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* Black section takes up 20% of the screen height */
  background-color: rgb(22, 78, 130);
}

.background::after {
  content: "";
  position: absolute;
  bottom: 20%; /* Start after the black section */
  left: 0;
  width: 100%;
  height: 80%; /* Blue section takes up 80% of the screen height */
  background-color: rgb(56, 136, 221);
}

.star {
  position: absolute;
  background-color: rgb(220, 235, 250);
  border-radius: 50%;
  opacity: 0.8;
  z-index: 1;
}

.star-1 {
  width: 7px;
  height: 7px;
  top: 10%;
  left: 25%;
}
.star-2 {
  width: 4px;
  height: 4px;
  top: 30%;
  left: 50%;
}

.star-3 {
  width: 6px;
  height: 6px;
  top: 50%;
  left: 75%;
}

.star-4 {
  width: 5px;
  height: 5px;
  top: 50%;
  left: 10%;
}

.star-5 {
  width: 7px;
  height: 7px;
  top: 25%;
  left: 80%;
}

.star-6 {
  width: 7px;
  height: 7px;
  top: 15%;
  left: 65%;
}

.star-7 {
  width: 7px;
  height: 7px;
  top: 5%;
  left: 95%;
}

.star-8 {
  width: 3px;
  height: 3px;
  top: 35%;
  left: 70%;
}

.star-9 {
  width: 10px;
  height: 10px;
  top: 15%;
  left: 15%;
}

.star-10 {
  width: 6px;
  height: 6px;
  top: 10%;
  left: 50%;
}

.star-11 {
  width: 7px;
  height: 7px;
  top: 45%;
  left: 35%;
}

.star-12 {
  width: 8px;
  height: 8px;
  top: 45%;
  left: 55%;
}

.moon {
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.99) 1%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 1;
}

.rock {
  position: absolute;
  background-color: rgb(41, 103, 162);
  border-radius: 0;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  z-index: 1;
  animation: slide-right 15s linear infinite;
}

.rock-1 {
  width: 90px;
  height: 30px;
  top: 85%;
  left: 75%;
}

.rock-2 {
  width: 90px;
  height: 30px;
  top: 88%;
  left: 45%;
}

.rock-3 {
  width: 90px;
  height: 30px;
  top: 95%;
  left: 25%;
}

.rock-4 {
  width: 90px;
  height: 30px;
  top: 85%;
  left: 5%;
}

.rock-5 {
  width: 90px;
  height: 30px;
  top: 90%;
  left: 90%;
}

.rock-6 {
  width: 90px;
  height: 30px;
  top: 95%;
  left: 65%;
}

.rock-1-off {
  width: 90px;
  height: 30px;
  top: 85%;
  left: -25%;
}

.rock-2-off {
  width: 90px;
  height: 30px;
  top: 88%;
  left: -55%;
}

.rock-3-off {
  width: 90px;
  height: 30px;
  top: 95%;
  left: -75%;
}

.rock-4-off {
  width: 90px;
  height: 30px;
  top: 85%;
  left: -95%;
}

.rock-5-off {
  width: 90px;
  height: 30px;
  top: 90%;
  left: -10%;
}

.rock-6-off {
  width: 90px;
  height: 30px;
  top: 95%;
  left: -35%;
}

.atat {
  position: absolute;
  width: 5%;
  height: 100px;
  bottom: 20%; /* This places the element 50px above the bottom-div */
  left: 47.5%;
  transform: translateX(-50%); /* This centers the element horizontally */
  color: white;
  border-radius: 50%;
  background-color: green;
  animation: walk 1s ease-in-out infinite;
}

/* Animations */

@keyframes slide-right {
  0% {
    transform: translateX(0); /* Start at the initial position */
  }
  100% {
    transform: translateX(100vw); /* Slide to the right (off-screen) */
  }
}

@keyframes walk {
  0%,
  100% {
    transform: translateY(0); /* Ball at the bottom */
  }
  50% {
    transform: translateY(-100px); /* Ball goes up */
  }
}
